@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
body {
  margin: 0px;
  padding: 0px;
  color: lime;
  font-family: "Silkscreen", sans-serif;
  font-style: normal;
  background: #245400;
  background: radial-gradient(
    circle,
    rgb(26, 59, 0) 30%,
    rgb(21, 58, 0) 62%,
    rgba(38, 38, 38, 1) 100%
  );
}
